{##
 # SocietoPluginBundle
 # Copyright (C) 2011 Kousuke Ebihara
 #
 # This program is under the EPL/GPL/LGPL triple license.
 # Please see the Resources/meta/LICENSE file that was distributed with this file.
 #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content="Societo v{{ constant('Societo\\Version::VERSION') }}" />
        <meta name="application-name" content="{{ app.config.site_name | default('Societo') }}" />

        <title>{{ app.config.site_name | default("Societo") }}{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/societodefaultskinplugin/css/default.css') }}" />
        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-ui.js') }}" type="text/javascript"></script>

        <!--[if (gte IE 6)&(lte IE 8)]>
          <script type="text/javascript" src="{{ asset('js/selectivizr.js') }}"></script>
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5.js') }}"></script>
        <![endif]-->
    </head>
    <body id="{{ current_route_info(app.request.attributes)['routeName'] }}" data-auth-status="{{ app.user ? 'secure' : 'insecure' }}">
        <header id="site_header">
            <h1><a href="{{ path('_root') }}">Societo</a></h1>
            <nav id="site_menu">
            {% render 'SocietoBaseBundle:Menu:show' %}
            </nav>
        </header>

        <section id="site_content">
            <header>
                {% if title | default(none) %}
                <h2>{{ title }}</h2>
                {% endif %}

                {% if app.session.hasFlash('error') %}
                <p class="flash error">{{ app.session.flash('error') | raw }}</p>
                {% elseif app.session.hasFlash('notice') %}
                <p class="flash notice">{{ app.session.flash('notice') | raw }}</p>
                {% elseif app.session.hasFlash('success') %}
                <p class="flash success">{{ app.session.flash('success') | raw }}</p>
                {% else %}
                <!--[if lt IE 9]>
                <noscript>
                    <p class="flash notice">You are using an older version of Internet Explorer. This site use JavaScript for enhance your experiences but you disable it.</p>
                </noscript>
                <![endif]-->
                {% endif %}
            </header>

            {% block body %}{% endblock %}
        </section>

        <footer id="site_footer">
            <p>Powered by Societo &copy; 2011 Kousuke Ebihara</p>
            <nav>
                <ul>
                    <li><a href="{{ path('_backend') }}">Admin</a></li>
                    <li><a href="{{ current_path(app.request.attributes, {'flavour': 'mobile'}) }}">Mobile View</a></li>
                </ul>
            </nav>
        </footer>

        <script type="text/javascript">
        // <![CDATA[
            $(document).ready(function() {
                $('.flash').fadeIn('slow');
            });
        // ]]>
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
